.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255 255 255 / 0.5);
	backdrop-filter: blur(4px);
	z-index: 10000;
}

.loader {
	width: 100px;
	height: 100px;
	border: 4px solid #fff;
	border-bottom-color: #4481c3;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
